.header {
  position: fixed;
  z-index: 100;
  background: inherit;
  width: 100%;
}
.header__container {
  width: 1200px;
  display: flex;
  height: 105px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.header__logo {
  width: 20%;
}
.header__nav {
  display: flex;
  justify-content: center;
}
.header__nav a {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 35px;
  background: none;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0;
  text-decoration: none;
}
.header__nav a:last-child {
  margin-right: 0;
}
.header__nav a:hover {
  opacity: 0.8;
}
.header__buy {
  width: 20%;
}
.header__buy a {
  display: block;
  margin-left: auto;
  width: 175px;
  height: 45px;
  font-family: "PP Monument Extended";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 20px;
  text-transform: uppercase;
  background: #cef564;
  border-radius: 25px;
  border: 4px solid #cef564;
  color: #6c2df8;
  padding: 3px 0 0 0;
  box-shadow: 5px 8px 0 0 #333333;
  transition-duration: 500ms;
  transition-property: color, background;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.header__buy a:hover {
  background: none;
  color: #cef564;
}
.header__menu {
  display: none;
}
@media screen and (max-device-width: 1199px) {
  .header {
    width: 640px;
    background: none;
    position: relative;
  }
  .header__container {
    width: 100%;
    height: 68px;
  }
  .header__logo img {
    width: 115px;
  }
  .header__buy {
    display: none;
  }
  .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 16px;
    cursor: pointer;
  }
  .header__nav {
    display: none;
  }
  .header__nav--active {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 68px;
    right: 0;
    left: 0;
    background-color: #6c2df8;
    align-items: flex-start;
  }
  .header__nav--active a {
    width: 600px;
    margin: 0 20px;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(233 105 160 / 60%);
  }

  .header__menu > span {
    outline: 1px solid #ffffff;
    width: 100%;
  }
}
@media screen and (max-device-width: 639px) {
  .header {
    width: 360px;
    position: relative;
  }
  .header__container {
    width: 100%;
    height: 38px;
  }
  .header__logo img {
    width: 71px;
  }
  .header__nav--active {
    top: 38px;
  }
  .header__nav--active a {
    width: 340px;
    margin: 0 10px;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(233 105 160 / 60%);
  }
}
