.main__сover {
  margin-top: 105px;
  position: relative;
}
.main__about {
  padding-top: 125px;
}
.main__works {
  padding-top: 140px;
}
.main__catalog {
  padding-top: 130px;
}
.main__rewiews {
  padding-top: 140px;
  padding-bottom: 140px;
}
.main__faq {
  padding-bottom: 40px;
}
@media screen and (max-width: 1200px) and (min-width: 640px) {
  .main__сover {
    margin-top: 18px;
  }
  .main__about {
    padding-top: 110px;
  }
  .main__works {
    padding-top: 100px;
  }
  .main__catalog {
    padding-top: 110px;
  }
  .main__rewiews {
    padding-top: 100px;
  }
  .main__faq {
    padding-bottom: 180px;
  }
}
