@keyframes translateBone {
  from {
    opacity: 0;
    transform: translateY(-300px) rotate(-39deg);
  }
  40% {
    opacity: 1;
  }
  70% {
    transform: translateY(-40px) rotate(-39deg);
  }
  to {
    opacity: 1;
    transform: translateY(0px) rotate(0deg);
  }
}
@keyframes translateBone2 {
  from {
    opacity: 0;
    transform: translateY(-300px) rotate(36deg);
  }
  40% {
    opacity: 1;
  }
  70% {
    transform: translateY(-40px) rotate(36deg);
  }
  to {
    opacity: 1;
    transform: translateY(0px) rotate(0deg);
  }
}
@keyframes translateBoneMobile {
  from {
    opacity: 0;
    transform: translateY(-100px) rotate(15deg);
  }
  40% {
    opacity: 1;
  }
  70% {
    transform: translateY(-30px) rotate(15deg);
  }
  to {
    opacity: 1;
    transform: translateY(0px) rotate(0deg);
  }
}
@keyframes translateBone2Mobile {
  from {
    opacity: 0;
    transform: translateY(-100px) rotate(-22deg);
  }
  40% {
    opacity: 1;
  }
  70% {
    transform: translateY(-30px) rotate(-22deg);
  }
  to {
    opacity: 1;
    transform: translateY(0px) rotate(0deg);
  }
}
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.works h2 {
  font-family: "PP Monument Extended";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 50px;
  opacity: 0;
}
.works h2.animation {
  animation-name: appearance;
  animation-delay: 300ms;
  animation-timing-function: ease-out;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}
.works__track-list {
  position: absolute;
  top: 0;
  right: 0;
}
.works__track {
  position: absolute;
  opacity: 0.2;
}
.works__track:first-child {
  left: -210px;
  top: 396px;
  transform: rotate(-144.79deg);
}
.works__track:nth-child(2) {
  left: -598px;
  top: 608px;
  transform: rotate(-132.79deg);
}
.works__track:nth-child(3) {
  left: -790px;
  top: 522px;
  transform: rotate(-132.79deg);
}
.works__track:nth-child(4) {
  left: -840px;
  top: 796px;
  transform: rotate(-132.79deg);
}
.works__track:nth-child(5) {
  left: -1028px;
  top: 1070px;
  transform: rotate(160.21deg);
}
.works__track:nth-child(6) {
  left: -845px;
  top: 1160px;
  transform: rotate(127.21deg);
}
.works__track:nth-child(7) {
  left: -800px;
  top: 1400px;
  transform: rotate(108.21deg);
}
.works__track:last-child {
  left: -575px;
  top: 1328px;
  transform: rotate(89.21deg);
}
.works__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.works__item {
  position: relative;
  opacity: 0;
  z-index: 10;
}
.works__item h3 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  color: #6c2df8;
}
.works__item:first-child {
  align-self: flex-end;
}
.works__item:first-child .works__container-image {
  background: #ffffff;
  border-radius: 25px;
  transform: rotate(15deg);
  padding: 57px 67px;
  position: relative;
  left: -110px;
  top: 45px;
}
.works__item.animation {
  animation-name: appearance;
  animation-delay: 0ms;
  animation-timing-function: ease-out;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}
.works__item.animation:first-child .works__container-bone {
  animation-name: translateBone;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 300ms;
  opacity: 0;
  animation-duration: 1s;
}
.works__item.animation:nth-child(2) .works__container-bone {
  animation-name: translateBone2;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 300ms;
  opacity: 0;
  animation-duration: 1s;
}
.works__item.animation:last-child .works__container-bone {
  animation-name: translateBone;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 300ms;
  opacity: 0;
  animation-duration: 1s;
}
.works__item:first-child .works__container-bone {
  position: absolute;
  z-index: 20;
  right: 30px;
  top: -60px;
  opacity: 0;
}
.works__item:first-child .works__bone {
  transform: rotate(98deg);
  filter: drop-shadow(-1px -10px 0px #333333);
}
.works__item:first-child h3 {
  position: absolute;
  z-index: 20;
  top: 130px;
  right: 50px;
  transform: rotate(39deg);
}
.works__item:nth-child(2) {
  top: -65px;
}
.works__item:nth-child(2) .works__container-bone {
  position: absolute;
  z-index: 20;
  left: 30px;
  top: -120px;
  opacity: 0;
}
.works__item:nth-child(2) h3 {
  transform: rotate(-36deg);
  position: absolute;
  z-index: 20;
  top: 138px;
  right: 50px;
}
.works__item:nth-child(2) .works__image {
  position: relative;
  left: 155px;
  transform: rotate(-15deg);
}
.works__item:nth-child(2) .works__bone {
  transform: rotate(24deg);
  filter: drop-shadow(-10px 3px 0px #333333);
}
.works__item:last-child {
  top: -200px;
  align-self: flex-end;
}
.works__item:last-child .works__container-bone {
  opacity: 0;
  position: absolute;
  z-index: 20;
  left: 38px;
  top: -120px;
}
.works__item:last-child h3 {
  position: absolute;
  z-index: 20;
  top: 134px;
  right: 30px;
  transform: rotate(39deg);
}
.works__item:last-child .works__image {
  position: relative;
  right: 150px;
  transform: rotate(15deg);
}
.works__item:last-child .works__bone {
  transform: rotate(98deg);
  filter: drop-shadow(-1px -10px 0px #333333);
}

@media screen and (max-device-width: 1199px) {
  .works__item:first-child {
    align-self: flex-start;
  }
  .works__item:first-child .works__container-image {
    padding: 40px;
    transform: rotate(-10deg);
    left: 20px;
    top: 45px;
  }
  .works__item:first-child .works__bone {
    transform: rotate(45deg);
    width: 190px;
    height: 230px;
    filter: drop-shadow(-7px 1px 0px #333333);
  }
  .works__item:first-child .works__container-bone {
    right: 72px;
    top: -60px;
  }
  .works__item:first-child h3 {
    transform: rotate(-15deg);
    font-size: 18px;
    top: 103px;
    right: 35px;
    line-height: 120%;
  }
  .works__item.animation:first-child .works__container-bone {
    animation-name: translateBoneMobile;
  }
  .works__container-image .works__image {
    width: 208px;
    height: 216px;
  }
  .works__item:nth-child(2) {
    align-self: flex-end;
    top: 0;
  }
  .works__item:nth-child(2) .works__image {
    width: 206px;
    height: 424px;
    left: -35px;
    transform: rotate(10deg);
  }
  .works__item:nth-child(2) h3 {
    font-size: 18px;
    line-height: 120%;
    transform: rotate(22deg);
    top: 105px;
    right: 30px;
  }
  .works__item:nth-child(2) .works__bone {
    width: 190px;
    height: 230px;
    transform: rotate(80.58deg);
    filter: drop-shadow(-7px 1px 0px #333333);
  }
  .works__item:nth-child(2) .works__container-bone {
    left: 9px;
  }
  .works__item.animation:nth-child(2) .works__container-bone {
    animation-name: translateBone2Mobile;
  }
  .works__item:last-child {
    align-self: flex-start;
    top: -135px;
  }
  .works__item:last-child .works__image {
    transform: rotate(-10deg);
    width: 206px;
    height: 424px;
    right: -35px;
  }
  .works__item:last-child .works__bone {
    width: 190px;
    height: 230px;
    transform: rotate(45deg);
    filter: drop-shadow(-7px 1px 0px #333333);
  }
  .works__item:last-child h3 {
    font-size: 18px;
    line-height: 120%;
    transform: rotate(-15deg);
    top: 105px;
    right: 20px;
  }
  .works__item:last-child .works__container-bone {
    left: 20px;
  }
  .works__item.animation:last-child .works__container-bone {
    animation-name: translateBoneMobile;
  }
  .works__track img {
    width: 110.73px;
    height: 95.99px;
  }
  .works__track:first-child {
    left: -333px;
    transform: rotate(121.09deg);
    top: 250px;
  }
  .works__track:nth-child(2) {
    left: -164px;
    top: 275px;
    transform: rotate(149.09deg);
  }
  .works__track:nth-child(3) {
    left: -235px;
    top: 439px;
    transform: rotate(-172.89deg);
  }
  .works__track:nth-child(4) {
    left: -267px;
    top: 557px;
    transform: rotate(-138.46deg);
  }
  .works__track:nth-child(5) {
    left: -424px;
    top: 574px;
    transform: rotate(-128.22deg);
  }
  .works__track:nth-child(6) {
    left: -442px;
    top: 751px;
    transform: rotate(-138.46deg);
  }
  .works__track:nth-child(7) {
    left: -580px;
    top: 786px;
    transform: rotate(-138.46deg);
  }
  .works__track:nth-child(8) {
    left: -527px;
    top: 920px;
    transform: rotate(-138.46deg);
  }
}
@media screen and (max-device-width: 639px) {
  .works h2 {
    font-size: 22px;
    line-height: 20px;
  }
  .works__track-list {
    display: none;
  }
  .works__container-image .works__image {
    height: 94;
    width: 105;
  }
  .works__item:first-child .works__container-image {
    padding: 20px;
  }
  .works__item:first-child .works__bone {
    height: 151px;
    width: 125px;
    filter: drop-shadow(-4px 1px 0px #333333);
  }
  .works__item:first-child .works__container-bone {
    right: 0px;
    top: -38px;
  }
  .works__item:first-child h3 {
    font-size: 12px;
    line-height: 14px;
    top: 67px;
    right: 20px;
  }
  .works__item:nth-child(2) .works__image {
    height: 226px;
    width: 110px;
  }
  .works__item:nth-child(2) .works__bone {
    width: 125px;
    height: 151px;
    filter: drop-shadow(-4px 1px 0px #333333);
  }
  .works__item:nth-child(2) h3 {
    font-size: 12px;
    line-height: 14px;
    top: 67px;
    right: 20px;
  }
  .works__item:nth-child(2) .works__container-bone {
    left: -30px;
    top: -75px;
  }
  .works__item:last-child {
    top: -80px;
  }
  .works__item:last-child .works__image {
    height: 226px;
    width: 110px;
    right: -50px;
  }
  .works__item:last-child .works__bone {
    width: 125px;
    height: 151px;
    filter: drop-shadow(-4px 1px 0px #333333);
  }
  .works__item:last-child h3 {
    font-size: 12px;
    line-height: 14px;
    top: 67px;
    right: 10px;
  }
  .works__item:last-child .works__container-bone {
    top: -79px;
  }
}
